@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-color: #282D35;
    background-image: url(./img/logo512.png);
    background-repeat: no-repeat;
    background-position: 50rem 110px;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61dafb;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    font-weight: 600;
    color: #DEEBF8;
}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

main {
    padding: 57px 27px;
    color: white;
}

.main--title{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts{
    margin-top: 46px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    color: #61dafb;
    font-size: 1.4rem;
}